.box01{
width: 200px;
height: 70px;
margin: 0 auto;
background-color: green;
}

.box02{
width: 300px;
margin: 0 auto;
background-color: blue;
}

.box03{
width: 200px;
height: 70px;
margin: 0 auto;
background-color: green;
}

.box04{
width: 300px;
margin: 0 auto;
background-color: black;
}


.box05{
width: 200px;
height: 70px;
margin: 0 auto;
background-color: green;
}

.box06{
width: 200px;
margin: 0 auto;
font-size: xxx-large;
background-color: whitesmoke;
}
